<div class="container">
  <mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>MacBook</mat-card-title>
    <mat-card-subtitle>Model:</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <img class="image" mat-card-image style="max-width: 200px; max-height: 200px" src="./assets/images/good.jfif" alt="">
    <p>Prise: 200</p>
  </mat-card-content>
  <mat-card-actions>
    <button class="button" mat-flat-button color="primary">Details</button>
    <button class="button" mat-flat-button color="primary">Add to cart</button>
    <mat-icon color="primary">favorite</mat-icon>
  </mat-card-actions>
</mat-card>
</div>
