<form class="example-form"[formGroup]="myForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="example-full-width">
    <mat-label>Title</mat-label>
    <input matInput formControlName="title">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Model</mat-label>
    <input matInput formControlName="title">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Img</mat-label>
    <input matInput formControlName="title">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Price</mat-label>
    <input matInput formControlName="title">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Year</mat-label>
    <input matInput formControlName="title">
  </mat-form-field>


   <button class="button" mat-flat-button color="accent" type="submit">Add item</button>
   <button class="button" mat-flat-button color="accent" (click)="onNoClick()">Close</button>
</form>
